.sor{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
input{
    width: 50%;
}
.sor *{
    margin: 10px;
}
form{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
}
body{
    background-color: azure;
}